<footer class="footer" th:fragment="footer">
    <div class="pt-lg-5 group-1 text-white">
        <div id="logo-footer" class="box">
            <figure>
                <a href="/">
                    <img th:src="@{/image/conect.arte.logo.png}" alt="logotipo">
                </a>
            </figure>
        </div>
        <div class="box">
            <h2>SOBRE NOSOTROS</h2>
            <p>CONECT.arte es la primera plataforma misionera para facilitar la búsqueda y contratación de artistas locales
                para eventos.
            <p>Nuestra misión es ayudar a dar a conocer a los diferentes artistas que existen y fomentar
                la cultura de nuestra región.
        </div>
        <div class="box">
            <h2 class="text-center">SIGUENOS</h2>
            <div class="social-networks">
                <div id="socialnetworks" class="row ">
                    <div class="d-inline-block">
                        <a href="https://www.facebook.com/profile.php?id=100082738324399" target="_blank">
                            <img th:src="@{/image/fb.png}">
                        </a>
                    </div>
                    <div class="d-inline-block">
                        <a href="https://www.instagram.com/conectarte05/" target="_blank">
                            <img th:src="@{/image/insta.png}">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <div class="group-2 text-white text-center pt-3 pb-2">
        <h6>&copy; 2022 <b>TEAM5</b> - Todos Los Derechos Reservados.</h6>
    </div>
</footer>