<footer class="pie-pagina">
    <div class="grupo-1">
        <div class="box">
            <figure>
                <a href="#">
                    <img th:src="@{/imagenes/Logo.png}" alt="logotipo" width="32">
                </a>
            </figure>
        </div>
        <div class="box">
            <h2>SOBRE NOSOTROS</h2>
            <P>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt, reprehenderit.
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A, porro.
        </div>
        <div class="box">
            <h2>SIGUENOS</h2>
            <div class="red-social">
                <a href="link de facebook" class="fa fa-facebook">
                    <img th:src="@{/imagenes/fb.png}" alt="" width="32">
                </a>
                <a href="link de insta">
                    <img th:src="@{/imagenes/insta.png}" width="32">
                </a>
            </div>
        </div>
    </div>
    </div>
    <div class="grupo-2">
        <small>&copy; 2021 <b>TEAM5</b> - Todos Los Derechos Reservados. </small>
    </div>
</footer>