<footer class="footer" th:fragment="footer">
    <div class="group-1 text-white">
        <div class="box">
            <figure>
                <a href="#">
                    <img th:src="@{/image/Logo.png}" alt="logotipo" width="32">
                </a>
            </figure>
        </div>
        <div class="box">
            <h2>SOBRE NOSOTROS</h2>
            <P>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt, reprehenderit.
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A, porro.
        </div>
        <div class="box">
            <h2 class="text-center">SIGUENOS</h2>
            <div class="social-networks">
                <div class="row">
                    <div class="block">
                        <a href="url facebook">
                            <img th:src="@{/image/fb.png}">
                        </a>
                    </div>
                    <div class="block">
                        <a href="url insta">
                            <img th:src="@{/image/insta.png}">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <div class="group-2 text-white text-center pt-3 pb-2">
        <h6>&copy; 2022 <b>TEAM5</b> - Todos Los Derechos Reservados.</h6>
    </div>
</footer>