<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand px-5">
        <img src="" width="30" height="30" class="d-inline-block align-top" alt="" />
        NombreApp
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#menu" aria-controls="menu"
        aria-expanded="false" aria-label="Show / Hide Menu">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse d-flex flex-row justify-content-end" id="menu">
        <ul class="navbar-nav">
          <li class="nav-item px-5">
            <form class="form-inline">
              <input class="form-control mr-sm-2 search" type="search" placeholder="Buscar por nombre" aria-label="Search" />
            </form>
            <ul class="list"></ul>
          </li>
          <li class="nav-item">
            <a class="nav-link btn border text-light" th:href="@{/users/form-login}">Ingresar</a>
          </li>
        </ul>
        <ul class="navbar-nav px-5">
          <li class="nav-item">
            <button type="button" class="btn border text-light" data-bs-toggle="modal" data-bs-target="#Modal">
              Registrarme
            </button>
            <div class="modal fade" id="Modal" tabindex="-1" aria-labelledby="modalRole" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-body d-flex flex-column align-items-center">
                    <div class=" col-12 d-flex flex-row justify-content-end">
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <h4 class="fst-italic pb-3">Elegí tu rol</h4>
                    <div class="d-flex flex-row justify-content-center">
                      <div class="px-3 d-flex flex-column align-items-center">
                        <img src="" width="40" height="40" class="d-inline-block align-top" alt="" />
                        <h5 class="pb-3">¿Sos un Artista?</h5>
                        <a class="fw-bold fst-italic" style="color: #522e96;" th:href="@{/groups/form}">Registrate</a>
                        <p class="text-center pb-3">y sé parte de esta comunidad!</p>
                      </div>
                      <div class="px-3 d-flex flex-column align-items-center">
                        <img src="" width="40" height="40" class="d-inline-block align-top" alt="" />
                        <h5 class="pb-3">¿Buscas un Artista?</h5>
                        <a class="fw-bold fst-italic" style="color: #522e96;" th:href="@{/clients/form}">Registrate</a>
                        <p class="text-center pb-3">y comenza a buscar artistas!</p>
                      </div>
                    </div>
                    <div>
                      <p style="font-size: 12px;">Ya tenés una cuenta? <a style="color: #522e96;"
                          th:href="@{/users/form-login}">Ingresa
                          aqui</a></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>