<head th:fragment="head">
    <meta charset="UTF-8" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns="http://www.w3.org/1999/html">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" text="text/css">
    <link rel="stylesheet" th:href="@{/css/formStyle.css}" text="text/css">
    <link rel="stylesheet" th:href="@{/css/footerStyle.css}" text="text/css">
    <link rel="stylesheet" th:href="@{/css/indexStyle.css}" text="text/css">
    <link rel="stylesheet" th:href="@{/css/searchStyle.css}" text="text/css">
    <link rel="stylesheet" th:href="@{/css/headerStyle.css}" text="text/css">
    <link rel="stylesheet" th:href="@{/css/profileStyle.css}" text="text/css">
    <link rel="stylesheet" th:href="@{/css/profileClientStyle.css}" text="text/css">
    <link rel="stylesheet" th:href="@{/css/buttonStyle.css}" text="text/css">
    <link rel="stylesheet" th:href="@{/css/styleBody.css}" text="text/css">
    <link rel="stylesheet" th:href="@{/css/logosStyle.css}" text="text/css">
    <link rel="stylesheet" th:href="@{/css/tableUserStyle.css}" text="text/css">
    <title>CONECT.arte</title>
</head>

