.container-form{
    width: 360px;
    height: 530px;
    position: relative;
    background-color: white;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form1, .form2, .form3{
    position: absolute;
    transition: 0.3s;
    width: 300px;
    height: 520px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.form2, .form3{
    display: none;
}

.form-control{
    border-radius: 15px;
}

.next1, .next2, .next3, .back1, .back2, .back3, .save{
    border: none;
    outline: none;
    background-color: #44093A;
    border-radius: 20px;
    padding: 8px 15px;
    border-radius: 20px;
}

.next1:hover, .next2:hover, .next3:hover, .back1:hover, .back2:hover, .back3:hover{
    background-color: #DA91DA;
}

.save:hover{
    background-color: #DA91DA;
}

.progress{
    background-color: white;
    width: 360px;
    height: 30px;
    border-radius: 20px;
}

.step1, .step2, .step3{
    width: 100%;
    margin: 0px;
    padding: 5px 0px;
    text-align: center;
    transition:all 0.4s;
}

.step1{
    background-color: #44093A;
    border-radius: 20px 0px 0px 20px;
    color: white;
}

.step{
    width: 100%;
    background-color: #44093A;
    border-radius: 20px;
    padding: 5px 0px;
    color: white;
}

