body{
    font-size: 14px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgba(0, 0, 0, 0.548);
} 

.container-form{
    width: 360px;
    height: 560px;
    position: relative;
    background-color: white;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form1, .form2, .form3{
    position: absolute;
    transition: 0.3s;
    width: 300px;
    height: 550px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.form2, .form3{
    display: none;
}

.next1, .next2, .next3, .back1, .back2, .back3, .save{
    border: none;
    outline: none;
    background: linear-gradient(#6d0a40, rgb(82, 11, 66));
    
}

.progress{
    background-color: white;
    width: 360px;
    height: 30px;
}

.step1, .step2, .step3{
    width: 100%;
    margin: 0px;
    padding: 5px 0px;
    text-align: center;
    transition:all 0.4s;
}

.step1{
    background-color: #a55481;
    color: white;
}
