body{
    font-size: 14px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgba(0, 0, 0, 0.548);
} 

.container-form{
    width: 360px;
    height: 510px;
    position: relative;
    background-color: white;
    border-radius: 5px;
    box-shadow: 20px black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form1, .form2, .form3{
    position: absolute;
    transition: 0.3s;
    width: 300px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

card{
    width: 360px;
}

.form2, .form3{
    display: none;
}

.next1, .next2, .next3, .back1, .back2, .back3, .save{
    border: none;
    outline: none;
    background: linear-gradient(#6d0a40, rgb(82, 11, 66));
    
}

.progress{
    background-color: white;
    width: 360px;
    height: 40px;
}

.step1, .step2, .step3{
    width: 100%;
    padding: 10px 0px;
    text-align: center;
    transition:all 0.4s;
}

.step1{
    background-color: #a55481;
    color: white;
}


/*.input{
    padding: 0px;
    border: none;
    border-bottom: 1px solid rgb(80, 37, 61);
    background-color: rgb(29, 21, 29);
    color: wheat;
}

.input:focus{
    padding: 0px;
    outline:  0px;
    background-color: rgb(29, 21, 29);
    border-bottom: 2px solid rgb(80, 37, 61);
    color: wheat;
    transform: translateY(90%);
    transition: 0.3s;
}

.label{
    position: absolute;
}

.form-check-input:checked{
    background-color: rgb(80, 37, 61);
}

.input1{
    padding: 0px;
    border: none;
    border: 1px solid rgb(80, 37, 61);
    background-color: rgb(29, 21, 29);
    color: wheat;
}

.input1:focus{
    padding: 0px;
    outline: 0px;
    border: 2px solid rgb(80, 37, 61);
    background-color: rgb(29, 21, 29);
    color: wheat;
}

.input1::after{
    padding: 20px;
}

.card{
    border: none;
    background-color: rgb(29, 21, 29);
}

.card-header{
    border: none;
    background-color: rgb(34, 26, 34);
}

.card-body{
    border: 0.5px solid rgb(34, 26, 34);
}

.btn{
    border: none;
    background-color:rgb(80, 37, 61);
    color: wheat;
}

.btn:hover{
    background-color:rgb(100, 47, 76);
}*/