ul li button{
    width: 100%
}

.search{
    border: 1px solid fuchsia;
    border-radius: 20px;
}

.search:focus{
    background-color: #080E16;
}

.btn-register{
    border: 1px solid #FDDD59;
    border-radius: 20px;
}

.btn-login{
    border: 1px solid rgba(117, 178, 235, 0.925);
    border-radius: 20px;
}

.div-menu{
    width: 100%;
}

.li-menu{
    width: 100%;
}

.btn-menu{
    border: 1px solid rgba(117, 178, 235, 0.925);
    border-radius: 20px;
    width: 100%;
}

.btn-register:hover, .btn-login:hover{
    background-color: #DA91DA;
}

.dropdown-menu{
    background-color: #080E16;
}

.dropdown-item:hover{
    background-color: #929092;
}

.modal-content{
    background-color: #080E16;
    color: aliceblue;
}

.btn-close{
    background-color: white;
}

.navbar-toggler-button{
    border: none;
    color: white;
}

.btn-search{
    background-color: rgba(219, 139, 139, 0.925);
    color: aliceblue;
    border: 1px solid red; 
    border-radius: 20px;
}
