body{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #080E16;
} 

.title{
    color:rgb(36, 2, 31);
}

.img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.img-profile{
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.button{
    width: 100%;
}

.btn-deleted{
    background-color: #44093A;
    border-radius: 20px;
}

.btn-update{
    background-color: #080E16;
    border-radius: 20px;
}