.list{
    z-index: 100000;
    width: 280px;
    padding: 0px;
    background-color: #080E16;
    position: absolute;
    border-radius: 0px 0px 5px 5px;
}

.list-item{
    width: 100%;
    color: white;
    border: 0.5px solid grey;
    list-style: none;
    padding: 10px 40px;
}

.item-link{
    width: 100%;
    display: inline-block;
    text-decoration: none;
    color: white;
}

.item-link:hover{
    text-decoration: none;
    color: white
}

.list-item:last-child{
    border-radius: 0px 0px 5px 5px;
}

.list-item:hover{
    background-color: rgba(175, 177, 179, 0.233);
}