<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/head :: head"></head>
<body>
    <header th:replace="fragments/header-index :: header-index"></header>

<main>

    <div class="container-fluid px-0">
        <div id="carouselExampleIndicators" class="carousel slide carousel-fade" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4" aria-label="Slide 5"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="/static/css/image1.jpg" class="d-block w-100" alt="banda 1">
                    <div class="carousel-caption d-md-block">
                        <h5>Banda 1</h5>
                        <p>Descripción banda 1</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="/static/css/image2.jpg" class="d-block w-100" alt="banda 2">
                    <div class="carousel-caption d-md-block">
                        <h5>Banda 2</h5>
                        <p>Descripción banda 2</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="/static/css/image3.jpg" class="d-block w-100" alt="banda 3">
                    <div class="carousel-caption d-md-block">
                        <h5>Banda 3</h5>
                        <p>Descripción banda 3</p>
                    </div>
                </div><div class="carousel-item">
                <img src="/static/css/image4.jpg" class="d-block w-100" alt="banda 4">
                <div class="carousel-caption d-md-block">
                    <h5>Banda 4</h5>
                    <p>Descripción banda 4</p>
                </div>
            </div><div class="carousel-item">
                <img src="/static/css/image5.jpg" class="d-block w-100" alt="banda 5">
                <div class="carousel-caption d-md-block">
                    <h5>Banda 5</h5>
                    <p>Descripción banda 5</p>
                </div>
            </div>

            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>

    <div class="container-ft">
        <div class="container-img">
            <img src="/static/css/img1.jpg" alt="">
            <div class="text">
                <h3 class="title">NIRVANA</h3>
                <p class="paragraph">Lorem ipsum dolor sit amet consectetur adipisicing
                    elit. Architecto odio doloribus tempore quod dicta, perferendis
                    iure mollitia tempora rem nemo ad voluptatibus ex qui impedit.
                    Magnam possimus sapiente porro natus.
                </p>
            </div>
        </div>

        <div class="container-img">
            <img src="/static/css/img2.jpg" alt="">
            <div class="text">
                <h3 class="title">AC/DC</h3>
                <p class="paragraph">Lorem ipsum dolor sit amet consectetur adipisicing
                    elit. Architecto odio doloribus tempore quod dicta, perferendis
                    iure mollitia tempora rem nemo ad voluptatibus ex qui impedit.
                    Magnam possimus sapiente porro natus. Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Omnis dolorem, sit, error rerum doloribus dolorum provident beatae molestiae ducimus, impedit eius?
                </p>
            </div>
        </div>

        <div class="container-img">
            <img src="/static/css/img3.jpg" alt="">
            <div class="text">
                <h3 class="title">THE BEATLES</h3>
                <p class="paragraph">Lorem ipsum dolor sit amet consectetur adipisicing
                    elit. Architecto odio doloribus tempore quod dicta, perferendis
                    iure mollitia tempora rem nemo ad voluptatibus ex qui impedit.
                    Magnam possimus sapiente porro natus.
                </p>
            </div>
        </div>

        <div class="container-img">
            <img src="/static/css/img4.jpg" alt="">
            <div class="text">
                <h3 class="title">ROLLING STONES</h3>
                <p class="paragraph">Lorem ipsum dolor sit amet consectetur adipisicing
                    elit. Architecto odio doloribus tempore quod dicta, perferendis
                    iure mollitia tempora rem nemo ad voluptatibus ex qui impedit.
                    Magnam possimus sapiente porro natus.
                </p>
            </div>
        </div>

        <div class="container-img">
            <img src="/static/css/img5.jpg" alt="">
            <div class="text">
                <h3 class="title">NDEA</h3>
                <p class="paragraph">Lorem ipsum dolor sit amet consectetur adipisicing
                    elit. Architecto odio doloribus tempore quod dicta, perferendis
                    iure mollitia tempora rem nemo ad voluptatibus ex qui impedit.
                    Magnam possimus sapiente porro natus.
                </p>
            </div>
        </div>

        <div class="container-img">
            <img src="/static/css/img6.jpg" alt="">
            <div class="text">
                <h3 class="title">NICKELBACK</h3>
                <p class="paragraph">Lorem ipsum dolor sit amet consectetur adipisicing
                    elit. Architecto odio doloribus tempore quod dicta, perferendis
                    iure mollitia tempora rem nemo ad voluptatibus ex qui impedit.
                    Magnam possimus sapiente porro natus.
                </p>
            </div>
        </div>
    </div>

    <div id="howitworksTitle" class="bg-dark">
        <h2 class="text-center text-white">
            Cómo funciona la página
        </h2>

        <h3 class="text-white">
            Busco un artista
        </h3>

        <div class="card-group">
            <div class="col">
                <div class="card h-100">
                    <div class="card-header">Paso 1</div>
                    <img src="/static/images/lupa.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Paso 1</h5>
                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <div class="card-header">Paso 2</div>
                    <img src="/static/images/registro.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Paso 2</h5>
                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <div class="card-header">Paso 3</div>
                    <img src="/static/images/dialogo.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Paso 3</h5>
                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
                    </div>
                </div>
            </div>
        </div>


        <h3 class="text-white ">
            Soy un artista
        </h3>

        <div class="card-group">
            <div class="col">
                <div class="card h-100">
                    <div class="card-header">Paso 1</div>
                    <img src="/static/images/artista.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Paso 1</h5>
                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <div class="card-header">Paso 2</div>
                    <img src="/static/images/perfil.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Paso 2</h5>
                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <div class="card-header">Paso 3</div>
                    <img src="/static/images/contrato.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Paso 3</h5>
                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</main>

<footer th:replace="fragments/footer :: footer"></footer>


<script src="/static/js/bootstrap.bundle.min.js"></script>
<script th:src="@{./js/search.js}"></script>
</body>
</html>