<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/head :: head"></head>
<body>
<div th:if="${session.id} == null">
    <header th:replace="fragments/header-index :: header-index"></header>
</div>

<div th:unless="${session.id} == null">
    <header th:replace="fragments/header-login :: header-login"></header>
</div>

<main>

    <div class="container-fluid px-0">
        <div id="carouselExampleIndicators" class="carousel slide carousel-fade" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                <!--<button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4" aria-label="Slide 5"></button>-->
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img th:src="@{/image/image1.jpg}" class="d-block w-100" alt="banda 1">
                    <div class="carousel-caption d-md-block">
                        <h1>Descubrí como funciona la plataforma</h1>
                        <a href="#howitworksClient" class="btn btn-outline-light btn-lg">Busco un artista</a>
                        <a href="#howitworksArtist" class="btn btn-outline-light btn-lg">Soy un artista</a>
                    </div>
                </div>
                <div class="carousel-item">
                    <img th:src="@{/image/image2.jpg}" class="d-block w-100" alt="banda 2">
                    <div class="carousel-caption d-md-block">
                        <h1>Unite a esta comunidad para promocionar tu arte</h1>
                        <a th:href="@{/auth-group/sign-up}" class="btn btn-outline-light btn-lg">Registrarme</a>
                    </div>
                </div>
                <div class="carousel-item">
                    <img th:src="@{/image/image3.jpg}" class="d-block w-100" alt="banda 3">
                    <div class="carousel-caption d-md-block">
                        <h1>Encontrá los artistas locales que estás buscando para tu evento</h1>
                        <a th:href="@{/groups}" class="btn btn-outline-light btn-lg">Buscar artistas</a>
                    </div>
                </div>
                <!--<div class="carousel-item">
                <img th:src="@{/image/image4.jpg}" class="d-block w-100" alt="banda 4">
                <div class="carousel-caption d-md-block">
                    <h4>Banda 4</h4>
                </div>
            </div>
                <div class="carousel-item">
                <img th:src="@{/image/image5.jpg}" class="d-block w-100" alt="banda 5">
                <div class="carousel-caption d-md-block">
                    <h4>Banda 5</h4>
                </div>-->
            </div>

            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>

    <div id="howitworks" class="pb-5">
        <div class="px-2 py-2 pt-md-4 mx-auto text-center">
            <h2 class="text-white">
                CÓMO FUNCIONA LA PLATAFORMA SI...
            </h2>
        </div>
            <div  id="howitworksClient" class="px-2 py-2 pb-md-4 mx-auto">
            <h3 class="text-white">
                Busco un artista
            </h3>


        <div class="card-group">
            <div class="col">
                <div class="card h-100 align-items-center">
                    <div class="card-header">PASO 1</div>
                    <img th:src="@{/image/howitworks/lupa.png}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text">Buscá la banda o grupo de danza que se ajuste a tu evento.
                            Los podés elegir según el estilo y la localidad</p>
                        <div class=" text-center">
                            <a th:href="@{/groups}" class="btn btn-outline-light">Buscar artistas</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100 align-items-center">
                    <div class="card-header">PASO 2</div>
                    <img th:src="@{/image/howitworks/registro.png}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text"><a th:href="@{/auth-client/sign-up}" class="btn btn-outline-light">Registrate</a>
                            si aún no lo hiciste ó <a th:href="@{/auth-client/login}" class="btn btn-outline-light">iniciá sesión</a>
                            para contactar a los artistas
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100 align-items-center">
                    <div class="card-header">PASO 3</div>
                    <img th:src="@{/image/howitworks/contrato.png}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text">Listo! Ya podés comunicarte con los artistas y armar ese evento inolvidable
                        </p>
                    </div>
                </div>
            </div>
        </div>
            </div>


        <div id="howitworksArtist" class="px-2 py-2 mt-4 pb-md-4 mx-auto mb-2">
            <h3 class="text-white ">
                Soy un artista
            </h3>


        <div class="card-group">
            <div class="col">
                <div class="card h-100 align-items-center">
                    <div class="card-header">PASO 1</div>
                    <img th:src="@{/image/howitworks/artista.png}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text">Registrá tu perfil! Hacelo atractivo para tus potenciales clientes</p>
                        <div class="text-center">
                            <a th:href="@{/auth-group/sign-up}" class="btn btn-outline-light">Registrate</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100 align-items-center">
                    <div class="card-header">PASO 2</div>
                    <img th:src="@{/image/howitworks/perfil.png}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text">Subí fotos y videos de tus presentaciones a tu perfil para mostrar tu arte</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100 align-items-center">
                    <div class="card-header">PASO 3</div>
                    <img th:src="@{/image/howitworks/dialogo.png}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text">Genial! Esperá el contacto del cliente, éxitos y a brillar.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

    <div class="title-groups px-2 py-2 pt-5 mx-auto text-white text-center">
        <h2>Grupos Destacados</h2>
    </div>

    <div class="container-ft px-2 py-2 pt-md-4 pb-md-4">
        <div class="container-img">
            <img th:src="@{/image/img1.jpg}" alt="">
            <div class="text">
                <h3 style="color:White" class="title">NECTAR</h3>
                <p class="paragraph">Somos una banda de Rock de Posadas Misiones, Argentina.
            </div>
        </div>

        <div class="container-img">
            <img th:src="@{/image/img2.jpg}" alt="">
            <div class="text">
                <h3 style="color:White" class="title">CYNTIA</h3>
                <p class="paragraph">Soy bailarina y profesora de danzas árabes, salida de la Academia Habibi de Posadas
                </p>
            </div>
        </div>

        <div class="container-img">
            <img th:src="@{/image/img3.jpg}" alt="">
            <div class="text">
                <h3 style="color:White" class="title">LOS YONIS</h3>
                <p class="paragraph">Somos un grupo musical de la ciudad de Oberá Misiones,
                    el objetivo es animar cualquier evento social, llevar alegria desde la música a nuestro pueblo.
                </p>
            </div>
        </div>

        <div class="container-img">
            <img th:src="@{/image/img4.jpg}" alt="">
            <div class="text">
                <h3 style="color:White" class="title">LOS FORACKS</h3>
                <p class="paragraph">Grupo musical creado por Néstor "Tingui"
                    Dominguez en memoria a Carlos Alberto "Taru" Sosa
                </p>
            </div>
        </div>

        <div class="container-img">
            <img th:src="@{/image/img5.jpg}" alt="">
            <div class="text">
                <h3 style="color:White" class="title">HABIBI</h3>
                <p class="paragraph">Grupo de danza de la Academia Superior de danzas árabes HABIBI
                </p>
            </div>
        </div>

        <div class="container-img">
            <img th:src="@{/image/img6.jpg}" alt="">
            <div class="text">
                <h3 style="color:White" class="title">ARIEL Y SU AG</h3>
                <p class="paragraph">grupo musical, con animación en vivo y discoteca
            </div>
        </div>
    </div>

</main>

<footer th:replace="fragments/footer :: footer"></footer>


<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/js/search.js}"></script>
</body>
</html>