<!doctype html>
<html lang="en">

    <head th:replace="fragments/head :: head"></head>

    <body>

        <div th:if="${session.id} == null">
            <header th:replace="fragments/header-index :: header-index"></header>
        </div>

        <div th:unless="${session.id} == null">
            <header th:replace="fragments/header-login :: header-login"></header>
        </div>

        <main>
            <br><br>
            <div class="social-bar">
                <a th:href="@{facebook}" class="icon icon-facebook" target="_blank">
                    <img th:src="@{/image/fb.png}" alt="" width="32">
                </a>
                <a th:href="@{instagram}" class="icon icon-instagram" target="_blank">
                    <img th:src="@{/image/insta.png}" alt="" width="32">
                </a>
                <a th:href="@{whatsapp}" class="icon icon-whatsapp" target="_blank">
                    <img th:src="@{/image/wsp.png}" alt="" width="32">
                </a>

            </div>

            <div class="container mt-5">
                <div class="row">
                    <div class="col-md-4">
                        <h1 class="my-4 rounded strong fw-bold text-light fst-italic" th:text="${group.groupName}"></h1>
                        <a th:href="@{/groups/delete/__${group.id}__}" class="btn btn-outline-danger">
                            <img class="img-icon" th:src="@{/image/imageRemove.png}" alt="" width="32">
                        </a>
                        <a th:href="@{/groups/update/__${group.id}__}" class="btn btn-outline-primary ">
                            <img class="img-icon" th:src="@{/image/imageEdit.png}" alt="" width="32">
                        </a>

                    </div>
                    <div class="container">
                        <div class="row">
                            <div class="col-md-5 my-4 rounded shadow">
                                <img th:src="@{|/uploads/__${group.groupProfileImage}__|}" class="img-fluid">
                            </div>
                            <div class="col-md-7">
                                <p class=" my-4 rounded shadow-lg text-light" th:text="${group.groupDescription}"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container mt-5">
                <div class="text-center">
                    <h3 class="shadow-sm">Escucha Mis Ultimos Hits</h3>
                </div>
            </div>

            <div class="container mt-5">
                <div class="row">
                    <div class="col-md-6">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/XfdgwJenJKY"
                                title="YouTube video player" frameborder="0" allow="accelerometer;
                                autoplay; clipboard-write; encrypted-media;
                                gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                    <div class="col-md-6">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/EgBJmlPo8Xw"
                                title="YouTube video player" frameborder="0" allow="accelerometer;
                                autoplay; clipboard-write; encrypted-media;
                                gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                </div>
            </div>

        </main>

    </div>

    <footer th:replace="fragments/footer :: footer"></footer>

    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/js/search.js}"></script>

</body>
</html>