<!doctype html>
<html lang="en">

    <head th:replace="fragments/head :: head"></head>

    <body>

        <div th:if="${session.id} == null">
            <header th:replace="fragments/header-index :: header-index"></header>
        </div>

        <div th:unless="${session.id} == null">
            <header th:replace="fragments/header-login :: header-login"></header>
        </div>

        <main>
            <div class="social-bar">
                <a th:href="${session.id}==null ? @{/auth-client/login} : @{https://www.facebook.com}" class="icon icon-facebook " th:target="${session.id}==null ? '' : '_blank'">
                    <img th:src="@{/image/fb.png}" alt="" width="32">
                </a>
                <a th:href="${session.id}==null ? @{/auth-client/login} : @{https://www.instagram.com}" class="icon icon-instagram" target="_blank">
                    <img th:src="@{/image/insta.png}" alt="" width="32">
                </a>
                <a th:href="${session.id}==null ? @{/auth-client/login} : @{|https://api.whatsapp.com/send?phone=549__${group.contactWhatsAppNumber}__&text=Buenas! vi tu publicacion en contact.arte y quiero contratarte!!|}" class="icon icon-whatsapp" target="_blank">
                    <img th:src="@{/image/wsp.png}" alt="" width="32">
                </a>

            </div>

            <div class="container mt-2">
                <div class="row">
                    <div class="col-md-4">
                        <h1 class="my-2 rounded strong fw-bold text-light fst-italic text-title" th:text="${group.groupName}"></h1>
                    </div>
                    <div class="container">
                        <div class="row">
                            <div class="col-md-5 my-4 rounded"> 
                                <img th:src="@{|/uploads/__${group.groupProfileImage}__|}" class="img-fluid rounded">
                                <div sec:authorize="hasRole('GROUP')" class="mt-5">
                                    <a th:href="@{/groups/delete/__${group.id}__}" class="btn btn-outline-danger">
                                        <img class="img-icon" th:src="@{/image/imageRemove.png}" alt="" width="32">
                                    </a>
                                    <a sec:authorize="hasRole('GROUP')" th:href="@{/groups/form/__${group.id}__}" class="btn btn-outline-primary ">
                                        <img class="img-icon img-edit" th:src="@{/image/imageEdit.png}" alt="" width="32">
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-7">
                                <p class=" my-4 p-1 rounded shadow-lg text-light fs-5 text-description" th:text="${group.groupDescription}"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row my-4 d-flex flex-row justify-content-center">
                <div class="col-8">
                    <div class="card-group gap-2">
                        <div class="card card-profile">
                            <div class="card-body d-flex flex-column align-items-center">
                                <h2>📌</h2>
                                <p class="fst-italic fw-bold">Ubicación</p>
                                <p th:text="${group.groupLocale.name}"></p>
                            </div>
                        </div>
                        <div class="card card-profile">
                            <div class="card-body d-flex flex-column align-items-center">
                                <h2>🚌</h2>
                                <p class="fst-italic fw-bold">Disponibilidad para viajar</p>
                                <p th:text="${group.groupMobility}==true ? 'Si' : 'No'"></p>
                            </div>
                        </div>
                        <div class="card card-profile">
                            <div class="card-body d-flex flex-column align-items-center">
                                <h2>🎶</h2>
                                <p class="fst-italic fw-bold">Estilo</p>
                                <p th:text="${group.groupStyle.name}"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>

    </div>

    <footer th:replace="fragments/footer :: footer"></footer>

    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/js/search.js}"></script>

</body>
</html>